<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boot.mapper.UserMapper">


    <select id="getById" resultType="user">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <select id="getViewCountList" resultType="activity">
        SELECT b.agency_id,sum(b.viw_count) as view_count FROM js_club_activity_list a
        LEFT JOIN js_club_activity_list b on b.agency_id = a.id
        WHERE a.special_type =1 and b.special_type =2
        GROUP BY b.agency_id;
    </select>

    <update id="updateViewCount">
        <foreach collection="list" separator=";" item="item">
            UPDATE js_club_activity_list SET viw_count = #{item.viewCount}
            where id = #{item.agencyId}
        </foreach>
    </update>

    <update id="updateUser"  >
        UPDATE user SET age = age +  #{age} where id = 1
    </update>
</mapper>